* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* If you're using CSS */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";



.menu_toggle_block{
  display: block;
  transition: display 1s ease-in-out;
}

.menu_toggle_hidden{
  display: none;
  transition: display 1s ease-in-out;
}

.fade-in-top {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}

.fade-in-top.in-view {
  opacity: 1;
  transform: translateY(0);
}

.fade-in-left{
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 1s ease, transform 1s ease;
}

.fade-in-left.in-view {
  opacity: 1;
  transform: translateY(0);
}

.fade-in-right{
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 1s ease, transform 1s ease;
}

.fade-in-right.in-view {
  opacity: 1;
  transform: translateY(0);
}

